<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pic2fro.pic2fro">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.CreatorActivity"
            android:label="@string/creator"
            android:parentActivityName=".activities.OpeningActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".activities.PlayActivity"
            android:label="@string/player"
            android:parentActivityName=".activities.CreatorActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".activities.OpeningActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".activities.VideosActivity"
            android:label="@string/videos"
            android:parentActivityName=".activities.OpeningActivity"
            android:screenOrientation="sensorPortrait" />
        <activity android:name=".activities.SplashActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>